.game-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}

.game-stats-text {
    font-size: 2rem;
    text-align: center;
}

.hang-man-draw-container {
    position: relative;
}

.hang-tool-hook {
    height: 50px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
}

.hang-tool-stem-side {
    height: 10px;
    width: 200px;
    background-color: black;
    margin-left: 120px;
}

.hang-tool-stem-main {
    height: 400px;
    width: 10px;
    background-color: black;
    margin-left: 120px;
}

.hang-tool-bottom {
    height: 10px;
    width: 250px;
    background-color: black;
}

.man-head {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    top: 50px;
    right: -30px;
}

.man-body {
    width: 10px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 120px;
    right: 0;
}

.man-right-arm {
    width: 100px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 150px;
    right: -100px;
    rotate: -30deg;
    transform-origin: left bottom;
}

.man-left-arm {
    width: 100px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 150px;
    right: 10px;
    rotate: 30deg;
    transform-origin: right bottom;
}

.man-right-leg {
    width: 100px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 210px;
    right: -90px;
    rotate: 60deg;
    transform-origin: left bottom;
}

.man-left-leg {
    width: 100px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 210px;
    right: 0;
    rotate: -60deg;
    transform-origin: right bottom;
}

.hang-man-word-container {
    display: flex;
    gap: .25em;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}

.hang-man-letter-wrapper {
    border-bottom: .1em solid black;
}

.keyboard-container {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: .5rem;
}

.keyboard-btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.keyboard-btn.active {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.keyboard-btn.inactive {
    opacity: .3;
}

.keyboard-btn:hover:not(:disabled),
.keyboard-btn:focus:not(:disabled) {
    background-color: hsl(200, 100%, 75%);
}